@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[96rem] p-6 w-full mx-auto
}
@layer components{
    /* HEADER */
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

    @layer components {
      nav {
        @apply absolute 
        top-[100px] 
        z-10 
        bg-white 
        h-screen 
        lg:h-auto
        right-[-100%] 
        lg:right-0 
        w-full 
        lg:block lg:static ease-in-out duration-500 transition-all;
      }
    
      nav.open {
        @apply right-[0%]
      }
    
      nav li {
        @apply text-center;
      }
    
      nav ul li {
        @apply relative mx-[1.25] w-full border-r-2;
      }
    
      nav ul li:last-child {
        @apply border-0;
      }
    
      .faq-content h3 {
        @apply sm/lg:~text-[1rem]/[1.2rem];
      }
    
      /* BURGER  */
      .burger__menu {
        @apply lg:hidden;
      }
    
      .burger__menu.open {
        @apply z-50;
      }
    
      .burger__menu.open span {
        @apply bg-dark;
      }
    
      .burger__menu span {
        @apply w-[2.5rem] h-[.3rem] rounded-md bg-dark block transition-all duration-700;
      }
    
      .burger__menu.open span:first-child {
        @apply transform translate-y-[1px] translate-x-[17px] rotate-[30deg] transition-all w-[1.5rem] duration-700;
      }
    
      .burger__menu.open span:last-child {
        @apply transform translate-y-[0px] translate-x-[17px] rotate-[-30deg] transition-all w-[1.5rem] duration-700;
      }
    
      .dropdownItem ul {
        @apply
        max-h-[0]
        hidden
        ease-out
        duration-[0.3s]
        ml-[2rem]
        /* max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
        margin-left: 2rem; */
      }
      .dropdownItem ul li {
        @apply
        mb-[10px]
        /* margin-bottom: 10px; */
      }
      .dropdownItem.active ul {
        @apply
        max-h-[50rem]
        ease-in
        duration-[0.3s]
        mt-[2rem]
        mb-[2rem]
        /* max-height: 50rem;
        transition: 0.3s ease-in;
        margin-top: 2rem;
        margin-bottom: 2rem; */
      }
      .dropdownItem i {
        @apply
        rotate-90
        ease-in
        duration-[0.3s]
        /* transform: rotate(90deg);
        transition: 0.3s ease; */
      }
      .dropdownItem.active i {
        @apply
        rotate-90
        ease-in
        duration-[0.3s]
        /* transform: rotate(-90deg);
        transition: 0.3s ease; */
      }
    }

    /* ACCORDION */
    .faq__content .accordion-container{
      @apply py-[0px]
      px-[20px]
    }
     .faq__content .accordion-container .accordion{
        @apply mb-[20px]
        cursor-pointer
      }
      
      .faq__content .accordion-container .accordion.active .accordion-heading{
        @apply
        bg-primary
      }
      
      .faq__content .accordion-container .accordion.active .accordion-heading h3{
        @apply text-light
      }
      
      .faq__content .accordion-container .accordion.active .accordion-heading i{
        @apply
        text-light
        rotate-180
        transition-all
      }
      
      .faq__content .accordion-container .accordion.active .accordion-content{
        @apply block
      }
      
      .faq__content .accordion-container .accordion .accordion-heading{
        @apply
        flex
        items-center
        justify-between
        gap-[10px]
        bg-light
        border-2
        border-dark
        py-[15px]
        px-[20px]
        /* display: flex;
        align-items: center;
        justify-content: space-between;
        gap:10px;
        background: #fff;
        border:2px solid #626262;
        padding:15px 20px; */
      }
      
      .faq__content .accordion-container .accordion .accordion-heading h3{
        @apply text-[18px]
      }
      
      .faq__content .accordion-container .accordion .accordion-heading i{
        @apply text-[25px]
      }
      
      .faq__content .accordion-container .accordion .accordion-content{
        padding:15px 20px;
        border:2px solid #626262;
        font-size: 15px;
        background: #fff;
        border-top: 0;
        display: none;
        animation: animate .2s linear backwards;
        line-height: 2;
        transform-origin: top;
      }
      
      @keyframes animate {
        0%{
          transform: scaleY(0);
        }
      }

    /* FAQ */
 .faq{
    @apply
    py-[130px] 
    lg:py-[90px]
 }
 .faq__content{
    @apply
    md:grid 
    md:grid-cols-[_1fr,_3fr]
 }
 .faq__content .content__menu {
  @apply text-xl  
  text-center 
  mb-24 
  md:text-left
 }
 .content__menu li.active{
  @apply text-accent
  underline
 }
}
@layer utilities{
    .btn{
        @apply inline-block
        py-[.5rem]
        px-[1rem]
        rounded-full
        border-transparent
        border-[1px]
        text-sm
        font-medium hover:scale-[0.9]
        transition-all
    }
    .btn.bg--light{
        @apply bg-light 
        text-dark 
        border-dark 
        border-[1px]
        hover:bg-zinc-200
        transition-all;
    }
    .btn.bg--dark{
        @apply bg-accent 
        text-dark
        hover:bg-light
        transition-all
    }
    .btn.bg--transparent{
        @apply bg-transparent
        text-light
        border-light
        border-[1px]
        hover:text-dark
        transition-all
    }
    .btn.bg--secondary{
        @apply bg-accent 
        text-dark
        transition-all
    }
    .bg--headerlight{
        @apply inline-block
        py-[1rem]
        px-[5rem]
        md:py-[1.2rem]
        md:px-[5rem]
        rounded-full
        border-transparent
        border-[1px]
        text-[1rem]
        font-medium hover:scale-[0.9]
        transition-all
        bg-transparent
        text-light
        border-light
        border-[1px]
        hover:bg-light
        hover:text-dark
        transition-all
    }
    .bg--headerdark{
        @apply inline-block
        py-[1rem]
        px-[6rem]
        md:py-[1.2rem]
        md:px-[6rem]
        rounded-full
        border-transparent
        border-[1px]
        text-[1rem]
        font-medium hover:scale-[0.9]
        transition-all
        bg-accent 
        text-dark
        hover:bg-light
        transition-all
    }
    .btnn {
        @apply block 
        px-6 
        py-2 
        rounded-md
        mx-auto
        my-2
        w-[200px]
      }
      .btnn.bg--whole{
        @apply
        bg-btnwhole
        text-light
        border-[1px]
        hover:bg-hover
        hover:text-dark
      }
      .btnn.bg--half{
        @apply
        bg-transparent
        text-dark
        border-btnwhole
        border-[1px]
        hover:bg-hover
        hover:text-dark
      }
}